services:
  vestige:
    image: ${ALIYUN_IMAGE:-vestige:latest}
    container_name: vestige_app
    restart: always
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai
      - NODE_ENV=production
    networks:
      - app_network

networks:
  app_network:
    external: true
