/* 移动端安全距离变量 */
:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

/* 2K分辨率及以上 */
@media (width >= 2560px) {
  html {
    font-size: 24px;
  }
}

/* 大于768px且小于2K分辨率 */
@media (width > 768px) and (width < 1920px) {
  html {
    font-size: 16px;
  }
}

/* 移动端适配 */
@media (width <= 768px) {
  html {
    font-size: max(calc(100vw / 768 * 16), 16px);
  }

  /* 确保页面内容不被安全区域遮挡 */
  body {
    padding: var(--safe-area-inset-top) 0 var(--safe-area-inset-bottom) 0;
  }
}
